{% trans_default_domain 'admin' %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <h3>{{ "blog.comment.create"|trans }}</h3>
        </div>
        <div class="modal-body">
            <div class="form-control">
                <p>{{ comment.content }}</p>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_start(form) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}            
            <div class="text-right">
                <button class="btn btn-default" data-dismiss="modal">
                    <i class="icon-cross"></i>
                    {{ "button.close"|trans }}
                </button>
                <button class="btn btn-success">
                    {{ 'button.add'|trans }}
                    <i class="icon-checkmark2"></i>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
